# Alchemy API Keys
ALCHEMY_ETH_KEY=your_alchemy_eth_key_here
ALCHEMY_BASE_KEY=your_alchemy_base_key_here

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
ETH_TOPIC=eth_raw_transactions
BASE_TOPIC=base_raw_transactions

# BigQuery
GCP_PROJECT_ID=crypto-analytics
BQ_DATASET=raw
BQ_TABLE=transactions
GOOGLE_APPLICATION_CREDENTIALS=./gcp-key.json